.formContainer {
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin-top: 2rem;

  color: rgb(133, 133, 133);
}

.formContainer button {
    width: 100%;
    height: 4rem;

    border: 1px solid #30ac6e;
    border-radius: 1rem;

    background: #37C77F;

    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;

    transition: background-color 0.5s;
}

.formContainer button:hover {
    background: #30ac6e;
}

.formContainer a {
    width: 100%;
    height: 4rem;

    border: 1px solid #ddd;
    border-radius: 1rem;

    margin: 1rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--primary);
    font-size: 1.25rem;
    font-weight: 600;

    transition: background-color 0.5s;
}

.formContainer a:hover {
    background: var(--secondary);
}


.formContainer label {
    margin-bottom: 0.5rem;
}

.multipleInputs {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.selectBlock {
  width: 100%;
  max-width: 6rem;

  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;

  margin-left: 1rem;
}

.selectBlock select {
  height: 4rem;

  background: var(--secondary);

  border: 1px solid rgb(179, 179, 179);
  border-radius: 1rem;
  padding: 0 1rem;
}

.selectBlock select:focus {
  border: 2px solid var(--primary);
}

.inputBlock {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;
}

.inputBlock input {
  height: 4rem;

  background: var(--secondary);

  border: 1px solid rgb(179, 179, 179);
  border-radius: 1rem;
}

.inputBlock input:focus {
  border: 2px solid var(--primary);
}

.inputBlock input[type="text"] {
  padding: 0 1rem;
}

.inputBlock input[type="date"] {
    max-width: 14rem;

}

.inputBlock textarea {
  height: 6rem;

  background: var(--secondary);

  border: 1px solid rgb(179, 179, 179);
  border-radius: 1rem;
  padding: 0 1rem;
}

.inputBlock textarea:focus {
  border: 2px solid var(--primary);
}

@media (min-width: 768px) {
    .inputBlock input[type="date"] {
        margin: 0;
        padding: 0 1rem;
    }

    .selectBlock {
        max-width: 8rem;
    }
  
}
