.createProjectContainer {
    width: 100%;
    max-width: 1100px;
    height: 100%;

    position: relative;

    display: flex;
    flex-direction: column;

    padding: 5rem 1rem 3rem 1rem;
}

.createProjectContainer h2 {
    font-weight: 400;
    font-size: 1.75rem;
}

.goBackLink {
    position: absolute;

    left: 1rem;
    top: 1.5rem;
}

.formWrapper {
    display: flex;
    flex-direction: row;
}

.formContainer {
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 2rem;

    color: rgb(133, 133, 133);
}

.formContainer button {
    width: 100%;
    height: 4rem;

    border: 1px solid #30ac6e;
    border-radius: 1rem;

    background: #37c77f;

    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;

    transition: background-color 0.5s;
}

.formContainer button:hover {
    background: #30ac6e;
}

.formContainer label {
    margin-bottom: 0.5rem;
}

.multipleInputs {
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.selectBlock {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;

    margin-left: 1rem;
}

.viabilityBlock {
    width: 5rem;
}

.situationBlock {
    max-width: 8rem;
}

.selectBlock select {
    height: 4rem;

    background: var(--secondary);

    border: 1px solid rgb(179, 179, 179);
    border-radius: 1rem;
    padding: 0 1rem;
}

.selectBlock select:focus {
    border: 2px solid var(--primary);
    outline: none;
}

.inputBlock {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;
}

.initDateBlock {
    margin-right: 0.5rem;
}

.endDateBlock {
    margin-left: 0.5rem;
}

.inputBlock input {
    height: 4rem;

    background: var(--secondary);

    border: 1px solid rgb(179, 179, 179);
    border-radius: 1rem;
}

.inputBlock span {
    color: rgb(255, 64, 64);

    transition: opacity 0.5s;
}

.warnInactive {
    opacity: 0;
}

.warnActive {
    opacity: 1;
}

.inputBlock input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputBlock input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputBlock input:focus {
    border: 2px solid var(--primary);
    outline: none;
}

.inputBlock input[type='text'] {
    padding: 0 1rem;
}

.inputBlock input[type='number'] {
    padding: 0 1rem;

    -moz-appearance: textfield;
}

.inputBlock input[type='date'] {
    max-width: 14rem;

    padding: 0 1rem;
}

.inputBlock input[type='date']::-webkit-calendar-picker-indicator {
    margin-left: 0px;
}

.inputBlock textarea {
    height: 8rem;
    width: 100%;

    background: var(--secondary);

    border: 1px solid rgb(179, 179, 179);
    border-radius: 1rem;
    padding: 1rem;

    resize: none;
}

.inputBlock textarea:focus {
    border: 2px solid var(--primary);

    outline: none;
}

@media (min-width: 768px) {
    .createProjectContainer {
        padding: 4rem 6rem;
    }

    .createProjectContainer h2 {
        font-size: 1.9rem;
    }

    .inputBlock input[type='date'] {
        margin: 0;
        padding: 0 1rem;
    }

    .selectBlock {
        max-width: 8rem;
    }

    .goBackLink {
        left: 2rem;
        top: 2rem;
    }
}
